alabaster==0.7.12
antlr4-python3-runtime==4.7.2
argh==0.26.2
astroid==2.3.3
astropy==4.0
attrs==19.3.0
autograd==1.3
Babel==2.8.0
backcall==0.1.0
bleach==3.1.4
bokeh==2.0.0
Bottleneck==1.3.2
certifi==2020.4.5.1
cffi==1.13.2
chardet==3.0.4
chart-studio==1.0.0
Click==7.0
cloudpickle==1.3.0
colorama==0.4.3
colorlover==0.3.0
confuse==1.1.0
cryptography==2.8
cufflinks==0.17.3
cvxpy==1.0.27
cx-Oracle==7.3.0
cycler==0.10.0
Cython==0.29.15
cytoolz==0.10.1
dash==1.9.1
dash-core-components==1.8.1
dash-html-components==1.0.2
dash-renderer==1.2.4
dash-table==4.6.1
dask==2.13.0
dataprep==0.2.3
decorator==4.4.1
defusedxml==0.6.0
Deprecated==1.2.7
dill==0.3.1.1
distributed==2.12.0
docutils==0.16
ecos==2.0.7.post1
entrypoints==0.3
fast-histogram==0.7
fastcache==1.1.0
Flask==1.1.1
Flask-Compress==1.4.0
fsspec==0.6.2
future==0.18.2
gitdb2==2.0.6
GitPython==3.0.5
glue-core==0.15.6
glue-vispy-viewers==0.12.2
h5py==2.10.0
HeapDict==1.0.1
holoviews==1.13.2
htmlmin==0.1.12
idna==2.8
ImageHash==4.1.0
imageio==2.8.0
imagesize==1.2.0
imbalanced-learn==0.6.2
importlib-metadata==1.4.0
ipykernel==5.1.3
ipython==7.11.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.2
Jinja2==2.11.2
joblib==0.14.1
json5==0.9.0
jsonpath2==0.4.3
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==1.2.6
jupyterlab-git==0.9.0
jupyterlab-server==1.0.6
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lightgbm==2.3.1
livereload==2.6.1
llvmlite==0.32.1
locket==0.2.0
lunr==0.5.6
lxml==4.5.0
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.4
mkdocs==1.1
mkdocs-bootstrap==1.1
mkdocs-jupyter==0.10.2
mkdocs-material==4.6.3
mknotebooks==0.3.5
more-itertools==8.1.0
mpl-scatter-density==0.6
msgpack==1.0.0
multiprocess==0.70.9
nbconvert==5.6.1
nbdime==1.1.0
nbformat==5.0.3
networkx==2.4
nltk==3.4.5
notebook==6.0.1
ntlm-auth==1.4.0
numba==0.49.1
numexpr==2.7.1
numpy==1.18.2
olefile==0.46
osqp==0.6.1
packaging==20.1
pandas==1.0.3
pandas-profiling==2.8.0
pandocfilters==1.4.2
panel==0.9.5
param==1.9.3
parso==0.5.2
partd==1.1.0
pathtools==0.1.2
patsy==0.5.1
pexpect==4.7.0
phik==0.9.11
pickleshare==0.7.5
Pillow==7.0.0
plotly==4.5.2
pmdarima==1.5.3
port-for==0.3.1
prometheus-client==0.7.1
prompt-toolkit==2.0.10
psutil==5.7.0
ptyprocess==0.6.0
pycparser==2.19
pyct==0.4.6
Pygments==2.5.2
pylint==2.4.4
pymdown-extensions==6.3
pyodbc==4.0.28
PyOpenGL==3.1.5
pyOpenSSL==19.1.0
pyparsing==2.4.6
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtWebEngine==5.12.1
pyrsistent==0.15.7
PySocks==1.7.1
python-dateutil==2.8.1
python-markdown-math==0.6
pytz==2019.3
pyviz-comms==0.7.4
PyWavelets==1.1.1
PyYAML==5.3
pyzmq==18.1.1
qgrid==1.2.0
qtconsole==4.6.0
QtPy==1.9.0
requests==2.23.0
requests-ntlm==1.1.0
retrying==1.3.3
rstcheck==3.3.1
scikit-image==0.16.2
scikit-learn==0.22.1
scikit-lego==0.3.4
scipy==1.4.1
scs==2.1.1.post2
seaborn==0.9.0
Send2Trash==1.5.0
six==1.14.0
smmap2==2.0.5
snowballstemmer==2.0.0
sortedcontainers==2.1.0
Sphinx==2.4.4
sphinx-autobuild==0.7.1
sphinx-materialdesign-theme==0.1.11
sphinx-serve==1.0.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.12
statsmodels==0.11.1
tables==3.6.1
tangled-up-in-unicode==0.0.6
tblib==1.6.0
terminado==0.8.3
testpath==0.4.4
toolz==0.10.0
tornado==6.0.3
tqdm==4.45.0
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.1
Unidecode==1.1.1
urllib3==1.26.5
visions==0.4.4
watchdog==0.10.2
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.5.1
wrapt==1.12.0
xlrd==1.2.0
zict==2.0.0
zipp==1.0.0
